[Desktop Entry]
Type=Application
Name=CoinKiller
Comment=A level editor for New Super Mario Bros. 2
Exec=CoinKiller
Icon=io.github.ExplosBlue.CoinKiller
Terminal=false
Categories=Development;
Keywords=nsmb2;level-editor;mario;